.mat-grid-tile a {
  width: 100%;
}

.mat-card .mat-card-content {
  width: 100%;
  justify-content: center;
  text-align: center;
}

.mat-card .mat-icon {
  width: 100%;
  justify-content: center;
  text-align: center;
}

.mat-icon {
  font-size: 10rem;
}
